*{
    margin: 0;
    padding: 0;

}

#navbar{
    display: flex;
    /* border: 2px solid blue; */
    padding:0 20px ;
    position:fixed;
    background-color: white;

}

#navbar>div{
    display: flex;
    align-items: center;
}

#navbar div:nth-child(1)  img:nth-child(1){
   width: 20%;
   /* border: 2px solid red; */
}



#navbar div:nth-child(1)  a:nth-child(2)>img{
    width: 60%;
    /* border: 2px solid red; */
}

#navbar div:nth-child(3)  img:nth-child(1){
    width: 15%;
}


#navbar div:nth-child(3)  img:nth-child(3){
    width: 15%;
    border-radius: 22px;
}

#navbar div:nth-child(2) {
    display: flex;
    width: 80%;
    gap: 1%;
    justify-content: space-around;
    padding: 5px ;

} 
#navbar div:nth-child(2) div:nth-child(1) {
    /* border: 2px solid red; */
    width: 1000%;
    display: flex;
    max-width: 90%;
}

#navbar div:nth-child(2) input{
    height: 50%;
    font-size: 110%;
    padding: 1.2%;
    width: 100%;
    border: 1px solid rgb(193, 191, 191);
    border-radius: 30px 0 0 30px;
    outline: none;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    

}

#navbar div:nth-child(2) input:focus{
    border: 1px solid blue;
}



#navbar div:nth-child(2) div:nth-child(1) button{
    width: 10%;
    border-radius: 0 30px 30px 0;
    font-size: 120%;
    border: 1px solid rgb(193, 191, 191);;
    border-left: none;
    background-color: #f8f8f8;
}

#navbar div:nth-child(2) div:nth-child(2) button{
    border-radius: 40px;
    padding: 13% ;
    font-size: 110%;
    width: 60%;
    background-color: #f8f8f8;
    border: none;
}

#navbar>div:nth-child(1){
    width: 20%;
    gap: 10px;
}

#navbar >div:nth-child(3){
    width: 20%;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-around;
}

#navbar >div:nth-child(3) button{
    width: 16%;
    font-size: 120%;
    padding: 3%;
    border: none;
    border-radius: 30px;
    background-color: white;
    
}


#sidebar{
    /* border: 2px solid red; */
    width: 5%;
    margin: 80px 0 0 5px ;
    position: fixed;
}

#sidebar> div{
    text-align: center;
    margin-top: 40%;
    /* border: 2px solid blue; */
}

#sidebar> div:nth-child(1)>img{
    display: block;
    width: 35%;
    margin: auto;

}
#sidebar> div:nth-child(2)>img{
    width: 35%;
    display: block;
    margin: auto;
}
#sidebar> div:nth-child(3)>img{
    width: 40%;
    display: block;
    margin: auto;
}
#sidebar> div:nth-child(4)>img{
    width: 60%;
    display: block;
    margin: auto;
}

#navbar+div{
    /* border: 2px solid black; */
    display: flex;
    gap: 40px;
}

#container{
 display: grid;
 grid-template-columns: repeat(4,1fr);
 width: 90%;
 /* border: 2px solid bbox-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
 margin: 80px 0 0 105px ;
 gap: 30px;

}

#container>div{
width: 100%;
/* border: 2px solid red; */
border-radius: 30px;

}


#container>div>h3{
 text-overflow: ellipsis;
 white-space: wrap;
 padding: 5%;
}

#container>div>img{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  width:300px;
  height: 180px;
  border-radius: 20px;
}

#video_box {
     border: 2px solid red;
     width: 88%; 
    margin: 15%  0 0 6%;
    /* margin-top: 50px; */
    /* display: flex;  */
}

#detail{
     width: 88%; 
    margin: auto;
    border: 2px solid red; 
}



